body.page-contact{
    background: #90b6ff;
}
.contact-main .nav-main {
    background-color: var(--clr-bg-accent);
  }
  
  .contact-main .nav-main .nav-col2 ul li a {
    color: var(--clr-white);
  }
/* section 1 main */
section.contact-main {
    padding: 30px 0px;
    background-color: var(--clr-white);
}
section.contact-main .row{
    padding: 50px 0px;
    
}
section.contact-main .row>*{
    flex: 1 1 40%;
    width: 100%;
    max-width: 50%;
}
section.contact-main .row .col h1 {
    font-family: var(--font-secondary);
    color: var(--clr-sub-head-light);
}

section.contact-main .row .col a{
    margin-top: 20px;
    display: inline-block;
}
/* section 2 */
section.contact-form-sec{
    padding: 150px 0px;
    background-color: var(--clr-bg-accent);
}
section.contact-form-sec .row .col h2{
    max-width: 12ch;
    line-height: 90px;
    color: var(--clr-white);
}
section.contact-form-sec .row .col p{
    font-weight: 400;
    color: var(--clr-white);
    max-width: 24ch;
    line-height: 40px;
}

.contact-form .row{
    padding: 30px 0px;
}
.contact-form .row>*{
    width: 100%;
}

.contact-form-sec{
    position: relative;
  isolation: isolate;
  }
  .contact-form-sec::before{
    content:"contact us";
    position: absolute;
    top: 0px;
    left: -20px;
    width: 100%;
    font-size: calc(50px + (170 - 50) * ((100vw - 300px) / (1600 - 300)));
  -webkit-text-stroke: 1px #2467E8;;
  -webkit-text-fill-color: transparent;
    isolation: isolate;
    z-index: -1;
    opacity: .4;
    font-family: var(--font-primary);
  
  }