@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;600;700&family=League+Spartan:wght@200;300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&display=swap');

:root {
    --clr-bg: #90B6FF;
    --clr-bg-light: #E4F1FF;
    --clr-primary: #3678F8;
    --clr-bg-accent: #90B6FF;
    --clr-sub-head-dark: #005DB4;
    --clr-sub-head-light: #3678F8;
    --clr-white: #ffffff;
    --clr-accent: #EED96D;
    --clr-gradient: linear-gradient(100.55deg, #1E53E1 31.01%, rgba(144, 107, 251, 0.63) 97.01%);
    --bshad-prime: 0px 6px 18px 0px #00000026;
    --font-primary:'Montserrat', sans-serif;
    --font-secondary: 'Josefin Sans', sans-serif;
    --p10: 10px;
    --p20: 20px;


}

body {
    overflow-x: hidden !important;
    background-color: #E4F1FF;
    position: relative;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
    /* outline: 3px solid #000 !important; */
}
.mobile-nav{
    display: none;
}

header{
    position: relative;
    z-index: 2323;
}
/* animations */
.anim-float{
    animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating {
    0% {
      transform: translate(0, 0px);
    }
  
    50% {
      transform: translate(0, 15px);
    }
  
    100% {
      transform: translate(0, -0px);
    }
  }

   
/* text */

h1 {
    font-family: var(--font-primary);
    font-size: calc(30px + (90 - 30) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 700;
}

h2,
h3,
h4,
h5,
h6 {
    font-family:  var(--font-secondary);
}

h2 {
    /* font-size: 60px; */
    font-size: calc(24px + (60 - 24) * ((100vw - 300px) / (1600 - 300)));
    line-height:1;
}

h5 {
    font-size: calc(18px + (28 - 18) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 600;
    line-height: 35px;
}

p {
    color: #636363;
    font-weight: 500;
    /* font-size: 16px; */
    font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
    padding: 20px 0px;
}

a {
    text-decoration: none;
}
.text-center{
    text-align: center;
}
.pos-a {
    position: absolute;
}

/* buttons */

.btn {
    border-radius: 30px;
    padding: 10px;
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    cursor: pointer;
}

.btn-sm {
    border-radius: 20px;
    padding: 10px 20px;
}

.btn-lg {

    padding: 15px 40px;
    font-weight: 600;
    font-size: 20px;
    font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
    box-shadow: 0px 7px 12px 0px #00000040;

}

.btn-dark {
    background-color: var(--clr-sub-head-light);
    color: #fff;
}
.btn-acc{
    background-color: var(--clr-accent);
    color: #000;
}
.btn-gradient {
    background: var(--clr-gradient);
    color: var(--clr-white);
    transition: .5s all;
    
}

.input,textarea,select{
    border:none;
    border-bottom: 1px solid #F2F2F2;
    background-color:transparent;
    resize: none;
    font-size: 20px;
    color: #fff;
    padding-bottom: 5px;

}
.input:focus,
textarea:focus{
    outline:none;
}


/* alignments */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 100%;
    height: auto;
}
.row {
    display: flex;

}

/* === flex properties === */
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}

.flex-col{
    flex-direction: column;
}

/* justify content */
.flex-jc-c {
    justify-content: center;
}

.flex-jc-sbw {
    justify-content: space-between;
}

/* align items */

.flex-ai-c {
    align-items: center;
}



.gap-1 {
    gap: 10px;
}

.gap-2 {
    gap: 20px;
}

.gap-3 {
    gap: 30px;
}

.gap-4 {
    gap: 40px;
}

.gap-5 {
    gap: 50px;
}

.flex-wrap {
    flex-wrap: wrap;
}

.p-y-100{
padding: 100px 0px;
}
/*===== navbar =====*/

section.hero-main {
    background: var(--clr-bg);
    width: 100%;
    
    padding-top: 20px;
    position: relative;
   
}

.container {
    /* width: 100%; */
    max-width: 1380px;
    margin: 0 auto;
    padding: 0px 20px;
}
.hamburger{
    display: none;
}
.nav-main {
    background-color: #fff;
    border-radius: 20px;
    padding: 0px 10px;
    box-shadow: 0px 8px 17px 0px #00000033;
    max-width: 1300px;
    margin: 0 auto;

}


.nav-col-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    overflow: hidden;
}

.nav-col1 {
    flex: 1 1 45%;
}

.site-logo{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.site-logo img.logo-cloud
{
    position: absolute;
    left:0;
    top: 0px;
    width: 35px;
    z-index: 1;
}
.site-logo img.logo-sphere
{
    position: absolute;
    left: 10px;
    bottom: 0px;
    width: 45px;
}
.site-logo .logo-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    padding-left: 60px;
    
}
.site-logo .logo-text h2{
    font-size: 20px;
    line-height: 5px;
    text-transform: uppercase;
}
.site-logo .logo-text p{
font-size: 10px;
padding: 10px 0px;
color: var(--clr-sub-head-dark);
}
/* .nav-col1 img {
    max-width: 130px;
    object-fit: cover;
} */

.nav-col2 {
    flex: 1 1 50%;
}

.nav-col3 {
    flex: 1 1 25%;
    display: flex;
    justify-content: right;
}

.nav-col2 .menu-wrap {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    list-style-type: none;
}

.nav-col2 .menu-wrap li a {

    color: var(--clr-sub-head-dark);
    font-family: var(--font-secondary);
    font-weight: 500;
    font-size: 18px;
}

/* footer */
.site-footer {
    background-color: #1b60e6;
    padding: 100px 0px;
    position: relative;
    isolation: isolate;
}
.footer-col1-info li img{
    width: 22px
}
.site-footer::before {
    content: "";
    width: 100%;
    height: 300px;
    background: url(../images/Rectangle\ 44.png) no-repeat;
    background-size: cover;
    top: -230px;
    left: 0;
    position: absolute;
}

.footer-col-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
}

.footer-col-wrap>* {
    flex: 1 1 30%;
}

.footer-logo .footer-logo-img {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-logo .footer-logo-img img {
    width: 50px;
}

.footer-logo .footer-logo-img h6 {
    font-size: 18px;
    color: #fff;

}

.footer-col1 p {
    font-size: 12px;
    color: #E1E1E1;
}

.footer-col1 h5 {
    font-size: 22px;
    color: #CCDDFF;
    padding: 20px 0px;
}

.footer-col1-info {
    list-style: none;
}

.footer-col1-info li {
    padding: 10px 0px;
    display: flex;
    justify-content: left;
    gap: 30px;
    align-items: center;
}

.footer-col1-info li a {
    color: var(--clr-white);
    font-family: "Josefin sans";
}

/* col 2 */
.footer-col2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer-col2 h5,
.footer-col3 h5 {
    font-size: 22px;
    color: #CCDDFF;
    padding: 20px 0px;
}

.footer-nav {
    list-style-type: none;

}

.footer-nav li {
    padding: 10px 0px;
}

.footer-nav li a {
    color: #7BBFFF;
}

/* col 3 */

.footer-social-icons {
    display: flex;
    justify-content: left;
    list-style: none;
    align-items: center;
    gap: 50px;
    padding: 20px 0px;
}

.footer-input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.footer-input-group input {
    border-radius: 20px;
    border: none;
    padding: 14px;
    width: 100%;
}

.footer-input-group a {
    background-color: #FFDF38;
    padding: 13px 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    position: absolute;
    right: 0;
}


@media(max-width: 1366px) {

    .nav-main {
        max-width: 1100px;
    }

    .container {
        max-width: 1180px;
    }
    
}

/* tablet */
@media(max-width: 810px){
    .menu-wrap,
    .nav-col3{
        display: none !important;
    }
    .nav-col2{
        display: flex;
        justify-content: end;
    }
    .hamburger{
        display: block;
        width: 50px;
        padding: 5px;
        z-index: 2321323;
     }
     .hamburger:hover{
        cursor: pointer;
     }
    .h-active {
        transition: .5s all;
    }
    .h-active span:nth-child(1){
        transform: rotate(-40deg);
        transition: .5s all;
    }
    .h-active span:nth-child(2){
        transform: translateX(20px);
        opacity: 0;
        transition: .5s all;
    }
    .h-active span:nth-child(3){
        transform: rotate(40deg);
        transition: .5s all;
    }
    .hamburger span{
        height: 4px;
        width: 100%;
        background: #005DB4;
        display: block;
        border-radius: 40px;
        margin: 4px 0px;
        transition: .5s all;
        transform-origin: right;
    }
    .mobile-nav{
        position: absolute;
        top:200px;
        z-index:232323;
        left:0;
        right:0;
        margin: 0 auto;
        background:#fff;
        max-width:300px;
        border-radius:50%;
        text-align: center;
        padding: 70px 20px;
        transform: translateX(2000px);
        transform-origin: right;
        transition: 1s all;
        background-color: #E4F1FF;
        box-shadow: 0px 0px 30px #4d4d4d;
        display: block;
        
      }
      .n-active{
        transform: translateX(0px);
        
      }
      .mobile-menu-wrap{
        list-style: none;
      }
      .mobile-menu-wrap li{
        padding: 10px 0px;
      }
      .mobile-menu-wrap li a{
        color: var(--clr-sub-head-dark);
        font-weight: 800;
        font-size: 20px;
        
      }
}
/* mobile */
@media(max-width: 400px){

    .site-logo .logo-text{
        padding-left: 60px;
    }
    .site-logo .logo-text h2{
        font-size: 15px;
    }
    .site-logo .logo-text p{
        font-size: 8px;
        white-space: nowrap;
    }
    header{
        padding: 0px 20px;
    }
    .hamburger{
        width: 30px;
    }
}
