section.services-main {
  padding: 30px 0px;
  background-color: #fff;
}

.services-main .nav-main {
  background-color: var(--clr-bg-accent);

}

.services-main .nav-main .nav-col2 ul li a {
  color: var(--clr-white);
}

.services-main .row .col h1 {
  font-family: var(--font-secondary);
  color: var(--clr-primary);
}

.services-main .row .col p {
  max-width: 40ch;
  line-height: 30px;
}

.services-main .row .col a {
  margin-top: 10px;
  display: inline-block;
}

/* cards col */
.animated-cards-container {
  position: relative;
  background: url(../images/polygon-colored.png) no-repeat;
  background-size: auto;
  background-position: center center;
  padding: 200px 0px;
  isolation: isolate;
}

.serv-anicard-main {
  max-width: 150px;
  margin: auto;
  background: linear-gradient(0deg, #E6F2FF -9.23%, rgba(255, 255, 255, 0) 95.13%);
  text-align: center;
  padding: 20px;
  border-radius: 0px 0px 15px 15px;
  margin-top: -20px;

}

.serv-anicard-main span {
  background: #F56363;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 10px;
  color: #fff;
}

.serv-anicard-main h5 {
  font-size: 20px;
  margin: 10px 0px;
}

.serv-anicard-main h6 {
  font-family: var(--font-primary);
  font-weight: 300;
  color: #737070;
  margin-top: -10px;
}

.services-main .row>* {
  flex: 1 1 50%;
}

/* animated cards */
.serv-anicard {
  padding: 20px;
  border-radius: 20px;
  z-index: 12;
  background-color: #E4F1FF;
}

.ani-card-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  position: relative;
}

.ani-card-inner img {
  width: 85px;
  position: absolute;
  left: -30px;
}

.ani-card-inner h6 {
  color: var(--clr-sub-head-light);
  font-size: 0.9rem;
  font-weight: 300;
}

.ani-card1 {
  top: 110px;
  right: 110px;
}

.ani-card1-twin {
  padding: 20px;
  background-color: #8D84EA;
  border-radius: 20px;
  top: 40px;
  right: 40px;
  transform: rotate(20deg);

}

.twin-inner {
  position: relative;
  padding: 30px;
}

.twin-inner img {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(340deg);
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.ani-card2 {
  top: 37%;
  right: 40px;
}

.ani-card2 .ani-card-inner img {
  width: 50px;
  left: -10px;
}

.ani-card2-twin {
  background: #DFF1FF;
  padding: 5px;
  border-radius: 15px;
  top: 50%;
  right: 100px;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.ani-card2-twi2 {
  background: #FFBDBD;
  padding: 5px;
  border-radius: 15px;
  top: 30%;
  right: 180px;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.ani-card2-twin img,
.ani-card2-twin2 img {
  width: 50px;
}

.ani-card3 {
  bottom: 20%;
  right: 40px;
}

.ani-card3 .ani-card-inner img {
  width: 50px;
  left: -10px;
}

.ani-card3-twin {
  background-color: #DDC9FF;
  padding: 35px;
  border-radius: 15px;
  bottom: 30%;
  right: 30%;
  z-index: -1;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.ani-card3-twin span {
  position: relative;
}

.ani-card3-twin span::before {
  content: "";
  background: url("../images/Diamond\(1\).png") no-repeat;
  background-size: contain;
  width: 55px;
  height: 55px;
  position: absolute;
  top: -25px;
  left: -10px;
}

.ani-card3-twin span::after {
  content: "";
  background: url("../images/Dodecagon.png") no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.ani-card4 .ani-card-inner img {
  width: 50px;
  left: -10px;
}

.ani-card4 {
  left: 22%;
  bottom: 18%;
  z-index: 23;
}

.ani-card4-twin {
  padding: 45px 60px;
  background-color: #77EDE9;
  border-radius: 20px;
  left: 25%;
  bottom: 15%;
  transform: rotate(20deg);

}

.ani-card5 .ani-card-inner img {
  width: 60px;
  left: -15px;
}

.ani-card5 {
  left: 12%;
  bottom: 34%;
  z-index: 23;
  background: rgba(255, 255, 255, 0.5);
}

.ani-card6 {
  left: -2%;
  top: 30%;
  background: linear-gradient(180deg, rgba(228, 241, 255, 0) 0%, #E4F1FF 98.44%);
  padding: 5px 10px;

}

.ani-card6 img {
  width: 150px;
}

.ani-card6 .ani-card-inner img {
  width: 70px;
  left: -15px;
}

.ani-card7 {
  left: 20%;
  top: 20%;
}

/* media query  */

/* section 2 */
.services-cards-sec {
  padding-top: 100px;
  isolation: isolate;
  z-index: 2;
  position: relative;

}

.services-cards-sec .row {
  padding: 100px 0px 0px 0px;
}

.services-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;

  max-width: 300px;
}

.services-card img {
  width: 100px;
  margin-bottom: 50px;
}

/* sec 3 */
.sec-dialoges {

  position: relative;
  padding: 400px 0px 200px 0px;
  isolation: isolate;
  background: #fff url(../images/services-wave.png) no-repeat;
  background-size: contain;
  background-position-y: -100px;
}

.sec-dialoges::before {
  content: "";
  background: url(../images/Helix.png) no-repeat;
  background-size: contain;
  width: 130px;
  height: 130px;
  position: absolute;
  right: 30px;
  top: 20%;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.sec-dialoges::after {
  content: "";
  background: url(../images/Torus2.png) no-repeat;
  background-size: contain;
  width: 90px;
  height: 90px;
  position: absolute;
  left: 8%;
  top: 20%;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}


.sec-dialoges .content-col h6 {
  color: #636363;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;


}

.sec-dialoges .content-col h2 {
  color: var(--clr-sub-head-light);
  font-size: calc(20px + (40 - 20) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 500;
  font-family: var(--font-primary);
  line-height: 60px;
  max-width: 20ch;
}

.sec-dialoges .content-col h2+span {
  font-family: var(--font-secondary);
  font-size: 16px;
  font-weight: 400;
  line-height: 59px;

}

.sec-dialoges .content-col ul {
  padding-left: 20px;
  font-family: var(--font-primary);
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;

  text-align: left;
  color: #636363;

}

.sec-dialoges .content-col ul li {
  max-width: 30ch;
  padding-bottom: 20px;
  line-height: 30px;
}

.sec-dialoges .content-col ul+a {
  display: inline-block;
}

.sec-dialoges .row:nth-child(2) {
  padding-top: 100px;
  flex-direction: row-reverse;
  position: relative;
}

.sec-dialoges .row:nth-child(2)::before {
  content: "";
  background: url("../images/Round\ triangle\ chain.png") no-repeat;
  background-size: contain;
  position: absolute;
  top: 0%;
  left: -10%;
  width: 140px;
  height: 140px;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

/* testimonial section */
.testimonials-sec {
  background: #e4f1ff;
  position: relative;
}

.testimonials-sec::before {
  content: "";
  position: absolute;
  right: 50px;
  top: 100px;
  background: url(../images/Square\ Illusion.png) no-repeat;
  background-size: contain;
  width: 150px;
  height: 150px;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.testimonials-sec::after {
  content: "";
  position: absolute;
  left: 50px;
  top: 30%;
  background: url(../images/doodle-5\ 1.png) no-repeat;
  background-size: contain;
  width: 200px;
  height: 200px;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.testimonials-sec h2 {
  font-size: calc(24px + (80 - 24) * ((100vw - 300px) / (1600 - 300)));
  line-height: 1;
  padding: 20px 0px;
  color: var(--clr-primary);
}

.testimonials-sec h3 {
  font-size: calc(18px + (26 - 18) * ((100vw - 300px) / (1600 - 300)));
  padding-bottom: 100px;
  color: var(--clr-sub-head-light);
  opacity: 0.6;
}

.rating {
  text-align: center;
}

.rating li {
  width: 25px;
  height: 25px;
  background-size: contain;
  list-style: none;
  padding: 5px;
}

.rating li.star-fill {
  background: url(../images/star-fill.png) no-repeat;
}

.rating li.star-empty {
  background: url(../images/star-empty.png) no-repeat;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial-card p {
  text-align: center;
  max-width: 20ch;
  text-transform: capitalize;
  font-weight: 400;
  padding-top: 70px;
  position: relative;
}

.testimonial-card p::before {
  content: '"';
  font-family: var(--font-secondary);
  color: var(--clr-primary);
  font-size: 100px;
  position: absolute;
  top: 20px;
  left: -30px;
  font-style: italic;

}

/* last section */
.sec-serv-email {
  background-color: var(--clr-bg-accent);
  position: relative;
}

.sec-serv-email::before {
  content: "";
  position: absolute;
  right: 50px;
  top: 100px;
  background: url(../images/sphere-orange.png) no-repeat;
  background-size: contain;
  width: 100px;
  height: 100px;

}

.sec-serv-email h1 {
  font-weight: 500;
  font-size: calc(28px + (56 - 28) * ((100vw - 300px) / (1600 - 300)));
  color: var(--clr-white);
}

.sec-serv-email h6 {
  color: var(--clr-white);
  font-size: calc(12px + (20 - 12) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 400;
  padding-top: 40px;
}

/* footer */
.page-services footer::before {
  display: none;
}